<search-bar [placeholder]="placeholder"
            (onSubmit)="onSearchPressed()"></search-bar>

<auction-filters></auction-filters>

<h4 class="mt-3">Найпопулярніші аукціони</h4>
<div class="cards-container">
    <auction-card *ngFor="let auction in popularAuctions"
                  [auction]="auction"></auction-card>
</div>

<h4 class="mt-3">Скоро закінчуються</h4>
<div class="cards-container">
    <auction-card *ngFor="let auction in popularAuctions"
                  [auction]="auction"></auction-card>
</div>