<ng-container>
    <div class="d-flex justify-content-between w-75">
        <div class="dropdown flex-fill"
             id="category-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Category
            </button>
            <ul class="dropdown-menu">
                <li>
                    <p>Categories</p>
                </li>
            </ul>
        </div>

        <div class="dropdown flex-fill"
             id="start-price-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Start price
            </button>
            <ul class="dropdown-menu">
                <li>
                    <ngx-slider [(value)]="minStartPrice"
                                [(highValue)]="maxStartPrice"
                                [options]="options">
                    </ngx-slider>
                </li>
            </ul>
        </div>

        <div class="dropdown flex-fill"
             id="current-bid-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Current bid
            </button>
            <ul class="dropdown-menu">
                <li>
                    <ngx-slider [(value)]="minCurrentBid"
                                [(highValue)]="maxCurrentBid"
                                [options]="options"
                                (userChange)="">
                    </ngx-slider>
                </li>
            </ul>
        </div>

        <div class="dropdown flex-fill"
             id="status-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Status
            </button>
            <ul class="dropdown-menu">
                <li>Statuses</li>
            </ul>
        </div>
    </div>
</ng-container>