<ng-container>
    <div class="d-flex justify-content-between w-75">
        <div class="dropdown flex-fill"
             id="category-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Категорія
            </button>
            <ul class="dropdown-menu">
                <li>
                    <p>Categories</p>
                </li>
            </ul>
        </div>

        <div class="dropdown flex-fill"
             id="start-price-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Стартова ціна
            </button>
            <ul class="dropdown-menu">
                <li>
                    <p>Slider</p>
                </li>
            </ul>
        </div>

        <div class="dropdown flex-fill"
             id="current-bid-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Поточна ставка
            </button>
            <ul class="dropdown-menu">
                <li>
                    <p>Slider</p>
                </li>
            </ul>
        </div>

        <div class="dropdown flex-fill"
             id="status-dropdown">
            <button class="btn btn-secondary dropdown-toggle default-btn-background w-75"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Статус
            </button>
            <ul class="dropdown-menu">
                <li>Statuses</li>
            </ul>
        </div>
    </div>
</ng-container>