* {
    font-size: 24px;
}

.default-background {
    background-color: orange;
    color: white;
}

header {
    @extend .default-background;
    display: flex;
    align-items: center;
    height: 40px;
}

footer {
    @extend .default-background;
    display: flex;
    align-items: center;
    height: 50px;
}

.default-btn-background {
    @extend .default-background;
    border: 0;
}

.default-btn-background:hover {
    background-color: darkorange;
}

.default-span-background {
    @extend .default-background;
}

.cards-container {
    overflow: scroll;
}