* {
    font-size: 24px;
}

.default-background {
    background-color: orange;
    color: white;
}

header {
    @extend .default-background;
    display: flex;
    align-items: center;
    height: 7vh;
}

footer {
    @extend .default-background;
    display: flex;
    align-items: center;
    height: 7vh;
}

.default-btn-background {
    @extend .default-background;
    border: 0;
}

.default-btn-background:hover {
    background-color: darkorange;
}

.default-span-background {
    @extend .default-background;
}

.cards-container {
    overflow: scroll;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.message {
    text-align: center;
}

.slider-dropdown {
    width: 60vh;
}

input[type="radio"]:checked {
    background-color: orange;
    border-color: orange;
}