* {
    font-size: 24px;
}

.default-background {
    background-color: orange;
    color: white;
}

header {
    display: flex;
    align-items: center;
    height: 7vh;
}

footer {
    display: flex;
    align-items: center;
    height: 7vh;
}

a {
    text-decoration: none;
}

.login-link {
    margin: 0 3vh 0 3vh;
}

.default-btn-background {
    @extend .default-background;
    border: 0;
}

.default-btn-background:hover {
    background-color: darkorange;
}

.default-btn-background:focus {
    background-color: darkorange;
}

.default-span-background {
    @extend .default-background;
}

.cards-container {
    overflow: scroll;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.message {
    text-align: center;
}

.slider-popover {
    width: 100vh;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="radio"]:checked {
    background-color: orange;
    border-color: orange;
}