<div *ngIf="options && tableData">
    <div class="row mb-3">
        <div class="text-right">
            <h3>
                {{ options.title }}
            </h3>
        </div>

        <div *ngIf="options.allowCreating"
             class="text-end">
            <button class="btn default-btn-background"
                    (click)="open(createModal)">Create</button>
        </div>

        <div *ngIf="tableData.list.length > 0; else emptyList">
            <div class="row">
                <table class="table table-hover">
                    <tr>
                        <th *ngIf="options.showIndexColumn"></th>

                        <th *ngFor="let column of options.columnSettings; let i = index"
                            [ngStyle]="{ 'width': column.width }">
                            <div>
                                <div *ngIf="column.isOrderable">
                                    <button (click)="onSortingChanged(column.title)"
                                            class="orderable-title"> {{ column.title }} </button>

                                    <i *ngIf="column.title != sorting.sortField"
                                       class="fa-solid fa-sort"></i>

                                    <i *ngIf="column.title == sorting.sortField && sorting.sortDirection == SortDirectionEnum.ASC"
                                       class="fa-solid fa-sort-up"></i>

                                    <i *ngIf="column.title == sorting.sortField && sorting.sortDirection == SortDirectionEnum.DESC"
                                       class="fa-solid fa-sort-down"></i>
                                </div>

                                <div *ngIf="!column.isOrderable">
                                    {{ column.title }}
                                </div>
                            </div>
                        </th>

                        <th *ngIf="options.allowEdit || options.allowDelete"></th>
                    </tr>

                    <tr *ngFor="let row of tableData.list; let i = index">
                        <td *ngIf="options.showIndexColumn">
                            <div>
                                {{ i + 1 }}
                            </div>
                        </td>

                        <td *ngFor="let column of options.columnSettings">
                            <div>
                                {{ row[column.dataPropName] }}
                            </div>
                        </td>

                        <th *ngIf="options.allowEdit || options.allowDelete">
                            <ng-template #actionsPopContent>
                                <div class="actions-container">
                                    <button *ngIf="options.allowEdit"
                                            class="btn"
                                            (click)="onEditClick(row, editModal)">
                                        Edit
                                    </button>
                                    <button *ngIf="options.allowDelete"
                                            class="btn"
                                            (click)="onDeleteClick(row, deleteModal)">
                                        Delete
                                    </button>
                                </div>
                            </ng-template>

                            <button type="button"
                                    class="btn"
                                    placement="bottom"
                                    [ngbPopover]="actionsPopContent">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                        </th>
                    </tr>
                </table>
            </div>

            <div class="flex-between-container">
                <ng-select [(ngModel)]="pagination.pageSize"
                           (change)="onPageSizeChanged($event)"
                           [clearable]="false">
                    <ng-option *ngFor="let size of pageSizeOptions"
                               [value]="size">
                        {{ size }}
                    </ng-option>
                </ng-select>

                <nav aria-label="Page navigation example"
                     #paginator>
                    <ul class="pagination">
                        <li class="page-item"
                            [ngClass]="(this.pagination.pageNumber == 1)? 'disabled' : ''">
                            <a class="page-link"
                               href="#"
                               aria-label="Previous"
                               onclick="return false"
                               (click)="decrementPageNumber()">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li *ngFor="let page of pagesList"
                            class="page-item">
                            <a class="page-link"
                               [ngClass]="page == pagination.pageNumber ? 'active' : ''"
                               onclick="return false"
                               (click)="onPageNumberChanged(page)"
                               href="#">
                                {{ page }}
                            </a>
                        </li>
                        <li class="page-item"
                            [ngClass]="(this.pagination.pageNumber == tableData.totalPages)? 'disabled' : ''">
                            <a class="page-link"
                               href="#"
                               aria-label="Next"
                               onclick="return false"
                               (click)="incrementPageNumber()">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <ng-template #emptyList>
            <h3>{{ options.emptyListDisplayLabel }}</h3>
        </ng-template>

        <ng-template #createModal
                     let-modal>
            <div class="modal-header">
                <h4 class="modal-title"
                    id="modal-basic-title">Create {{ options.resourceName }}</h4>
                <button type="button"
                        class="btn-close"
                        aria-label="Close"
                        (click)="modal.close()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="options.createFormOptions.form">
                    <div *ngFor="let prop of options.createFormOptions.properties"
                         class="form-field flex mb-2">
                        <div>
                            <label [for]="prop.propName"
                                   class="form-label pt">{{ prop.label }}:</label>
                        </div>

                        <div class="flex-1">
                            <input type="text"
                                   [id]="prop.propName"
                                   class="form-control"
                                   [formControlName]="prop.propName" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-dark"
                        (click)="onCreateSubmit(modal)">Create</button>
            </div>
        </ng-template>

        <ng-template #editModal
                     let-modal>
            <div class="modal-header">
                <h4 class="modal-title"
                    id="modal-basic-title">Edit {{ options.resourceName }}</h4>
                <button type="button"
                        class="btn-close"
                        aria-label="Close"
                        (click)="modal.close()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="options.editFormOptions.form">
                    <input type="text"
                           id="id"
                           class="form-control"
                           formControlName="id"
                           hidden />

                    <div *ngFor="let prop of options.createFormOptions.properties"
                         class="form-field flex mb-2">
                        <div>
                            <label [for]="prop.propName"
                                   class="form-label pt">{{ prop.label }}:</label>
                        </div>

                        <div class="flex-1">
                            <input type="text"
                                   [id]="prop.propName"
                                   class="form-control"
                                   [formControlName]="prop.propName" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-dark"
                        (click)="onEditSubmit(modal)">Edit</button>
            </div>
        </ng-template>

        <ng-template #deleteModal
                     let-modal>
            <div class="modal-header">
                <h4 class="modal-title"
                    id="modal-basic-title">Delete {{ options.resourceName }}</h4>
                <button type="button"
                        class="btn-close"
                        aria-label="Close"
                        (click)="modal.close()"></button>
            </div>
            <div class="modal-body">
                <span>Are you shure you want to delete this {{ options.resourceName }}?</span>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-dark"
                        (click)="onDeleteSubmit(modal)">Delete</button>
            </div>
        </ng-template>
    </div>
</div>